# Betriebssystem
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Temporäre Dateien
*.tmp
*.temp

# PDFs
*.pdf

# Bilder
*.png
*.jpg
*.jpeg

# Build Ordner
dist/
build/

# Node
node_modules/

# Crossnote
.crossnote/

# Archive
files.zip